---
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
const allposts = await Astro.glob('../pages/posts/*.md');
const pageTitle = 'My Astro Learning blog';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>{pageTitle}</h2>
  <p>This is where I will post about my journey learning Astro.</p>

  {
    allposts.map((post) => (
      <BlogPost url={post.url} title={post.frontmatter.title} />
    ))
  }
</BaseLayout>
