---
import Social from './Social.astro';

const platform = 'github';
const username = 'arkryonia';
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>

  <Social platform='twitter' username='xemazso' />
  <Social platform='linkedIn' username='drxos' />
  <Social platform='instagram' username='lesocratic' />
</footer>
